<div class="class-unit">
    <h3 id="class-0"><a href="#class-0">Before class: Special Topics</a></h3>
    <p>There are a few things you'll need to do before the first class:</p>
    <ul>
        <li>Fill out <a href="https://docs.google.com/forms/d/1p5LsXMyw5XoAK4NcVwzY5g6JDDvYgZ-xshvs9UxNBFc/viewform">this questionnaire</a>. (takes less than a minute)</li>
        <li>Create an account at <a href="http://github.com">github.com</a> (free)</li>
        <li>Join the <a href="https://groups.google.com/forum/?hl=en#!forum/itp-dynamic-web-server">combined-class Google Group</a></li>
    </ul>
    <p>If you are rusty on web fundamentals (HTML/CSS/Javascript), please make sure you review the following online lessons before Wednesday:</p>
    <ul>
        <li><a href="https://www.udacity.com/course/viewer#!/c-cs253/l-48737165/m-48723400">HTML Fundamentals Udacity course</a> (<a href="https://www.udacity.com/wiki/cs253/unit_1">notes</a>)</li>
        <li><a href="http://www.lynda.com/Mac-OS-X-10-6-tutorials/Unix-for-Mac-OS-X-Users/78546-2.html">Unix for Mac OS X Users</a> at Lynda.com (You get free access to Lynda.com with your NYU login, see <a href="http://www.nyu.edu/its/lynda/">here</a>)</li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-1"><a href="#class-1">Week 1: Introduction and Node.js Install</a></h3>
    <h4 class="date">March 26, 2014</h4>
    <p>Install fest! This week we will work on installing the following:</p>
    <ul>
        <li>Node.js</li>
        <li>Git</li>
    </ul>
    <p>We'll review basic web concepts and choose projects. We'll review using github and issuing pull requests.</p>

    <h4>In class:</h4>
    <ul class="in-class">
        <li>Download and install Node: <a href="http://nodejs.org/download/">http://nodejs.org/download/</a></li>
        <li>Download and install Git: <a href="http://git-scm.com/">http://git-scm.com/</a>
    </ul>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Nodejs first look: <a href="http://www.lynda.com/Nodejs-tutorials/Nodejs-First-Look/101554-2.html">http://www.lynda.com/Nodejs-tutorials/Nodejs-First-Look/101554-2.html</a> - Sections 1, 2, 3</li>
        <li>Node beginner book: <a href="http://www.nodebeginner.org/">http://www.nodebeginner.org/</a></li>
    </ul>

    <h4>Examples:</h4>
    <ul class="examples">
        <li><a href="https://github.com/DWDatITP/ExampleServer-Week1">ExampleServer - Week 1</a></li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Decide what your project will be. You can always change it later, but you should make a decision today.</li>
        <li>When you've chosen an idea, <b>make a <a href="https://help.github.com/articles/using-pull-requests">pull request</a> on Github</b>, adding your name and a brief description of your project, with a link to your own github repo.</li>
        <li>Create a heroku account: <a href="http://heroku.com">http://heroku.com</a></li>
        <li>Install the heroku toolbelt: <a href="https://toolbelt.heroku.com/">https://toolbelt.heroku.com/</a></li>
    </ul>
    <p>Example project ideas:</p>
    <ul>
        <li>Image curation/collection (Pinterest)</li>
        <li>Bookmark aggregator (Delicious)</li>
        <li>Blog/CMS (Wordpress)</li>
        <li>Microblogging Site (Twitter)</li>
        <li>Arduino Datalogger (API)</li>
        <li>Social Network</li>
        <li>Address Book</li>
        <li>Video Aggregation Site</li>
        <li>Photo Sharing Site</li>
        <li>List Making App</li>
        <li>To-Do App</li>
    </ul>

    <h4>Optional resources:</h4>
    <ul class="optional-resources">
        <li>Preview Heroku/Node tutorial: <a href ="https://devcenter.heroku.com/articles/getting-started-with-nodejs">https://devcenter.heroku.com/articles/getting-started-with-nodejs</a></li>
        <li>Getting started with the Github Mac app: <a href="http://mac.github.com/help.html">http://mac.github.com/help.html</a></li>
        <li>Git Essential Training tutorial on Lynda: <a href="http://www.lynda.com/Git-tutorials/Git-Essential-Training/100222-2.html">http://www.lynda.com/Git-tutorials/Git-Essential-Training/100222-2.html</a></li>
        <li><a href='http://cristal.inria.fr/~weis/info/commandline.html'>In The Beginning Was The Command Line</a></li>
        <li><a href='http://try.github.io/'>Interactive Git Tutorial from Github</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-2"><a href="#class-2">Week 2: HTML/CSS Review, JavaScript Intro, Publish to Heroku</a></h3>
    <h4 class="date">April 2, 2014</h4>
    <p>Review node's module system and npm.</p>
    <p>Create a basic node.js-based web server and deploy it to heroku.</p>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Node Web Server with Connect: <a href="http://www.lynda.com/Nodejs-tutorials/Responding-requests/101554/110750-4.html">http://www.lynda.com/Nodejs-tutorials/Responding-requests/101554/110750-4.html</a></li>
        <li>JavaScript Language Intro: <a href="http://www.lynda.com/JavaScript-tutorials/Introducing-JavaScript-Language/123563-2.html">http://www.lynda.com/JavaScript-tutorials/Introducing-JavaScript-Language/123563-2.html</a></li>
        <li>HTML Tutorial: <a href="http://www.lynda.com/HTML-tutorials/HTML-Essential-Training-2012/99326-2.html">http://www.lynda.com/HTML-tutorials/HTML-Essential-Training-2012/99326-2.html</a></li>
        <li>CSS Tutorial: <a href="http://www.lynda.com/Web-Interactive-CSS-tutorials/CSS-Fundamentals/80436-2.html">http://www.lynda.com/Web-Interactive-CSS-tutorials/CSS-Fundamentals/80436-2.html</a></li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li><b>Create the version 0.1 of your app.</b> Static workflow pages. (Example: if you are making a blog, make a site with one page that says, "Enter blog post here", and another that says, "Here is your displayed blog post")</li>
        <li><b>Get your <a href="https://devcenter.heroku.com/articles/nodejs-support">app running on Heroku</a>.</b></li>
        <li><b>Issue a <a href="https://help.github.com/articles/using-pull-requests">pull request</a></b> to the class github repo adding a link to your running server.</li>
        <li><b>Find an npm module that you think you'll use for your project.</b> The npm registry is at: <a href="http://npmjs.org/">http://npmjs.org/</a></li>
    </ul>

    <h4>Examples:</h4>
    <ul class="examples">
        <li><a href="https://github.com/DWDatITP/ExampleServer-Week2">ExampleServer - Week 2</a></li>
    </ul>

    <h4>Optional resources:</h4>
    <ul class="optional-resources">
        <li>How Does the Internet Work: <a href="http://docs.webplatform.org/wiki/concepts/internet_and_web/how_does_the_internet_work">http://docs.webplatform.org/wiki/concepts/internet_and_web/how_does_the_internet_work</a></li>
        <li>JavaScript for cats: <a href="http://jsforcats.com/">http://jsforcats.com/</a></li>
        <li>Eloquent JavaScript: <a href="http://eloquentjavascript.net/contents.html">http://eloquentjavascript.net/contents.html</a></li>
        <li>ITP DWD Notes Week 1: <a href="http://itpwebclass.herokuapp.com/notes/week-1">http://itpwebclass.herokuapp.com/notes/week-1</a></li>
        <li>ITP DWD Notes Week 2: <a href="http://itpwebclass.herokuapp.com/notes/week-2">http://itpwebclass.herokuapp.com/notes/week-2</a></li>
        <li>Screencast: <a href='http://vimeo.com/91210794'>Tutorial to publish a node app to heroku</a></li>
        <li><a href='http://www.jmarshall.com/easy/http/'>HTTP Made Really Easy</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-3"><a href="#class-3">Week 3: Using Node.js with Express</a></h3>
    <h4 class="date">April 9, 2014</h4>
    <p>Review project ideas. Pair off and share wireframes and workflow.</p>
    <ul>
      <li>Overview of 'npm'</li>
      <li>Adding express</li>
      <li>Including files in node (require and module.exports)</li>
      <li>Templating Engines</li>
    </ul>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Node Frameworks: <a href="http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html">http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html</a></li>
        <li>Review the express site: <a href="http://expressjs.com/">http://expressjs.com/</a></li>
        <li>Check out some sites using express: <a href="http://expressjs.com/applications.html">http://expressjs.com/applications.html</a></li>
        <li>Express tutorial: <a href="http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/">http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/</a></li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Convert your app to run using express</li>
        <li>Bonus points for: organizing code into multiple files</li>
        <li>Bonus points for: using variables in your templates</li>
        <li>Publish the project to Heroku</li>
    </ul>

    <h4>Reading to help with assignments</h4>
    <ul class="assignments">
      <li><a href="http://javascriptissexy.com/handlebars-js-tutorial-learn-everything-about-handlebars-js-javascript-templating/">Handlebars tutorial</a></li>
      <li><a href="http://handlebarsjs.com/">Handlebars Documentation</a></li>
      <li><a href="http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html">Lynda Tutorial</a></li>
      <li><a href="http://www.lynda.com/JavaScript-tutorials/Starting-Express-applications/141132/152185-4.html">Other Lynda Tutorial</a></li>
      <li><a href="http://expressjs.com/4x/api.html">Express Documentation</a></li>
      <li><a href="http://bit.ly/dwd-wk3">Class Presentation Deck</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-4"><a href="#class-4">Week 4: Using Node.js with Express Part 2: Templates</a></h3>
    <h4 class="date">April 16, 2014</h4>
    <p>More usage of Handlebars; responding to form input; and managing state with sessions</p>

    <ul>
      <li>Loops, helpers and partials with Handlebars</li>
      <li>POST routes and form input with body-parser</li>
      <li>Sessions and state management with express-session and cookie-parser</li>
      <li>Middleware</li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Modify your app to accept form input</li>
        <li>Create an account at <a href='https://mongolab.com/welcome/'>Mongolab</a></li>
        <li>Optional: <a href='http://docs.mongodb.org/manual/tutorial/install-mongodb-on-os-x/'>Install MongoDB</a> locally (installing <a href='http://brew.sh/'>Homebrew</a> first and using it is recommended)</li>
        <li>...</li>
    </ul>

    <h4>Reading for assignments:</h4>
    <ul class='reading'>
      <li><a href='http://stackoverflow.com/questions/3804209/what-are-sessions-how-do-they-work'>StackOverflow Q about sessions</a></li>
      <li><a href='http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local'>Node Authentication Tutorial</a></li>
      <li><a href="http://www.allaboutcookies.org/cookies/session-cookies-used-for.html">What are session cookies used for?</a></li>
    </ul>

    <h4>Additional resources:</h4>
    <ul>
      <li>Need more help on Javascript basics? <a href='https://www.discovermeteor.com/blog/javascript-for-meteor/'>Short JavaScript primer.</a></li>
      <li>Rusty with git and github? <a href='http://try.github.io'>try.github.io</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-5"><a href="#class-5">Week 5: Database-driven sites with Node.js using Express and MongoDB</a></h3>
    <h4 class="date">April 23, 2014</h4>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Connecting MongoDB with Mongoose: <a href="http://www.lynda.com/JavaScript-tutorials/Connecting-MongoDB-via-Mongoose/141132/152200-4.html">http://www.lynda.com/JavaScript-tutorials/Connecting-MongoDB-via-Mongoose/141132/152200-4.html</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-6"><a href="#class-6">Week 6: Special Topics</a></h3>
    <h4 class="date">April 30, 2014</h4>
    <p>Web sockets? APIs? JSON format? More advanced database options? Class chooses topics.</p>
</div>

<div class="class-unit">
    <h3 id="class-7"><a href="#class-7">Week 7: Presentations</a></h3>
    <h4 class="date">May 7, 2014</h4>
    <p>Demo your project for the class!</p>
</div>
