<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{{ pageDescription }}}">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/stylesheets/vendor/purecss/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu.css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="#">{{ sidebarTitle }}</a>

                <ul>
                    <li id="nav-item-home"><a href="#">Home</a></li>
                    <li id="nav-item-instructors"><a href="#instructors">Instructors</a></li>
                    <li id="nav-item-schedule"><a href="#schedule">Schedule</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>{{{ pageTitle }}}</h1>
                <h2>{{{ pageDescription }}}</h2>
            </div>

            <div class="content">
                <h2 class="content-subhead">Course description</h2>
                <p>
                    {{{ classDescription }}}
                </p>

                <ul class="instructors">
                Instructors:
                {{#each instructors}}
                    <li><a href="mailto:{{ email }}">{{ firstName }} {{ lastName }}</a></li>
                {{/each}}
                </ul>

                <ul class="references">
                References:
                {{#each references}}
                    <li><a href="{{ href }}">{{ title }}</a> - {{ description }}</li>
                {{/each}}
                </ul>


                <h2 class="content-subhead">Work</h2>
                <p>Each week there will be assigned reading or viewing. It’s your responsibility to learn the concepts as well as you can outside of class time. Class time will occasionally be used for light review but it is primarily intended for putting these concepts into practice, with the help of the instructor and your classmates.</p>
                <p>Each student will work on an individual server-side application throughout the 7 weeks of the class. You should have a good idea of what sort of application you would like to work on by the second week of class.</p> 
                <p>Over the 7 weeks we’ll cover several aspects of server-side programming including:</p>
                <ul>
                    <li>Developing an express-based server</li>
                    <li>Serving static assets</li>
                    <li>Serving dynamic templates</li>
                    <li>Accepting user input</li>
                    <li>Managing state (cookies and sessions)</li>
                    <li>Storing information in a database (MongoDB)</li>
                    <li>Deploying your application to Heroku</li>
                    <li>Advanced topics (Cross-Origin Resource Sharing, APIs, uploading media, front-end javascript frameworks, etc.)</li>
                </ul>
                <p>Your project is not required to use all the techniques that are covered in this class, but it should use the majority of them. Projects should be worked on individually. If you have a group and would like to work together, speak to me first.</p>


                <h2 class="content-subhead">Class rhythm</h2>
                <p>Every week we will share “picks” — a link, tutorial, app, stackoverflow question, or something else that was helpful for you during the week that you think someone else in class might learn from.</p>
                <p>Every week I will cover a “programmer concept” — a small piece of advice about programming in general that you can apply to your work on your project.</p>

                <h2 class="content-subhead">Class conduct</h2>
                <ul>
                    <li>This class meets for one two-hour and thirty minute session per week.</li>
                    <li>Assignment due dates are hard dates.</li>
                    <li>If you know in advance that you will not be able to attend a class, let me know beforehand.</li>
                    <li>Multiple unexcused absences will result in an academic warning.</li>
                    <li>There is a lot to learn, so come on time.</li>
                </ul>

                <h2 class="content-subhead">Assessment</h2>
                <ul>
                    <li>Class Participation: 40%</li>
                    <li>Weekly Assignments: 30%</li>
                    <li>Final Project: 30%</li>
                </ul>

                <p>Participation includes:</p>
                <ul>
                    <li>Being attentive when others are speaking during class discussions</li>
                    <li>Contributing to class discussions</li>
                    <li>Presenting in class</li>
                    <li>Being active on the class mailing list</li>
                    <li>Helping each other in class</li>
                </ul>

                <h2 id="schedule" class="content-subhead">Class schedule</h2>
                {{#each classes}}
                    <h3><a href="{{ href }}">{{ title }}</a></h3>
                    <h4 class="date">{{ date }}</h4>
                    <p class="description">{{{ description }}}</p>
                    <h4>Links:</h4>
                    <ul class="links">
                    {{#each links}}
                        <li><a href="{{ href }}">{{ title }}</a> - {{ description }}</li>
                    {{/each}}
                    </ul>
                    <h4>Assignments:</h4>
                    <ul class="assignments">
                    {{#each assignments}}
                        <li><a href="{{ href }}">{{ title }}</a> - {{ description }}</li>
                    {{/each}}
                    </ul>
                {{/each}}

            </div>
        </div>
    </div>

    <script src="/javascripts/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/vendor/purecss/ui.js"></script>
    <script src="/javascripts/main.js"></script>

</body>
</html>
