<div class="header">
    <h1>{{ pageTitle }}</h1>
    <h2>{{ pageDescription }}</h2>
</div>

<div id="course-description" class="content">
    <h2 class="content-subhead">Course description</h2>
    <p>This experimental 7-week, 2 point course will provide a framework for learning how to develop and program web applications and will focus on server side development.  Rather than the traditional model of in-class lectures, assignments, projects, and office hours, this course will heavily leverage existing online and offline resources (videos, articles, interactive tutorials, online courses, books, and more) with class time fully devoted to group and individual help sessions.</p>
    <p>This course will be focused on developing and deploying server side web applications using JavaScript, Node.js with the Express framework, and NoSQL databases on cloud based infrastructure.  Additional topics will include login and session management, web services and APIs, and will lightly touch on front-end web development.</p>
    <p>Prerequisites include Comm Lab Web and Introduction to Computational Media.</p>

    <ul class="instructors">
        Instructors:
        <li><a href="mailto:cory.forsyth@gmail.com">Cory Forsyth</a></li>
        <li><a href="mailto:mike@dory.me">Mike Dory</a></li>
    </ul>

    <ul class="class-links">
        Class links:
        <li><a href="https://github.com/DWDatITP">Github page</a></li>
        <li><a href="https://github.com/DWDatITP/DynamicWebServer">Student project lists</a></li>
        <li><a href='https://groups.google.com/forum/#!forum/itp-dynamic-web-server'>Class Mailing List</a></li>
    </ul>

    <h2 id="work" class="content-subhead">Work</h2>
    <p>Each week there will be assigned reading or viewing. It’s your responsibility to learn the concepts as well as you can outside of class time. Class time will occasionally be used for light review but it is primarily intended for putting these concepts into practice, with the help of the instructor and your classmates.</p>
    <p>Each student will work on an individual server-side application throughout the 7 weeks of the class. You should have a good idea of what sort of application you would like to work on by the second week of class.</p> 
    <p>Over the 7 weeks we’ll cover several aspects of server-side programming including:</p>
    <ul>
        <li>Developing an express-based server</li>
        <li>Serving static assets</li>
        <li>Serving dynamic templates</li>
        <li>Accepting user input</li>
        <li>Managing state (cookies and sessions)</li>
        <li>Storing information in a database (MongoDB)</li>
        <li>Deploying your application to Heroku</li>
        <li>Advanced topics (Cross-Origin Resource Sharing, APIs, uploading media, front-end javascript frameworks, etc.)</li>
    </ul>
    <p>Your project is not required to use all the techniques that are covered in this class, but it should use the majority of them. Projects should be worked on individually. If you have a group and would like to work together, speak to me first.</p>

    <h2 class="content-subhead">Class rhythm</h2>
    <p>Every week we will share "picks" — a link, tutorial, app, stackoverflow question, or something else that was helpful for you during the week that you think someone else in class might learn from.</p>
    <p>Every week I will cover a "programmer concept" — a small piece of advice about programming in general that you can apply to your work on your project.</p>

    <h2 class="content-subhead">Class conduct</h2>
    <ul>
        <li>This class meets for one two-hour and thirty minute session per week.</li>
        <li>Assignment due dates are hard dates.</li>
        <li>If you know in advance that you will not be able to attend a class, let me know beforehand.</li>
        <li>Multiple unexcused absences will result in an academic warning.</li>
        <li>There is a lot to learn, so come on time.</li>
    </ul>

    <h2 class="content-subhead">Assessment</h2>
    <ul>
        <li>Class Participation: 40%</li>
        <li>Weekly Assignments: 30%</li>
        <li>Final Project: 30%</li>
    </ul>

    <p>Participation includes:</p>
    <ul>
        <li>Being attentive when others are speaking during class discussions</li>
        <li>Contributing to class discussions</li>
        <li>Presenting in class</li>
        <li>Being active on the class mailing list</li>
        <li>Helping each other in class</li>
    </ul>

    <h2 id="schedule" class="content-subhead">Class schedule</h2>
    {{> schedule }}

</div>
