<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{{ pageDescription }}}">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/stylesheets/vendor/purecss/pure-min.css">
  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu.css">
    <!--<![endif]-->
        
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="#">{{ sidebarTitle }}</a>

                <ul>
                    <li class="menu-item-divided pure-menu-selected">
                        <a href="#">Home</a>
                    </li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#">Instructors</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>{{{ pageTitle }}}</h1>
                <h2>{{{ pageDescription }}}</h2>
            </div>

            <div class="content">
                <h2 class="content-subhead">Dynamic Web Development at ITP &mdash; Spring 2014</h2>
                <p>
                    {{{ classDescription }}}
                </p>

                <ul class="instructors">
                Instructors:
                {{#each instructors}}
                    <li><a href="mailto:{{email}}">{{firstName}} {{lastName}}</a></li>
                {{/each}}
                </ul>

                <h2 class="content-subhead">Class rules</h2>
                <p>
                    Class rules would go here as well.
                </p>

                <h2 id="schedule" class="content-subhead">Schedule</h2>
                {{#each classes}}
                    <h3>{{ title }}</h3>
                    <p>{{ description }}</p>
                    <ul class="links">
                    {{#each links}}
                        <li><a href="{{ href }}">{{ title }}</a></li>
                    {{/each}}
                    </ul>
                {{/each}}

            </div>
        </div>
    </div>
    
    <script src="/javascripts/vendor/purecss/ui.js"></script>

</body>
</html>

