<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageDescription }}">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/stylesheets/vendor/purecss/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/stylesheets/vendor/purecss/side-menu.css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="#">{{ sidebarTitle }}</a>

                <ul>
                    <li id="nav-item-description"><a href="#course-description">Description</a></li>
                    <li id="nav-item-work"><a href="#work">Work</a></li>
                    <li id="nav-item-schedule"><a href="#schedule">Schedule</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            {{{ yield }}}
        </div>
    </div>

    <script src="/javascripts/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/vendor/purecss/ui.js"></script>
    <script src="/javascripts/main.js"></script>

</body>
</html>
