<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{{ description }}}">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css"> -->
  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/combo/1.11.2?/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/combo/1.11.2?/css/layouts/side-menu.css">
    <!--<![endif]-->
        
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="#">DWD at ITP</a>

                <ul>
                    <li class="menu-item-divided pure-menu-selected">
                        <a href="#">Home</a>
                    </li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="#">Instructors</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>{{ title }}</h1>
                <h2>{{{ description }}}</h2>
            </div>

            <div class="content">
                <h2 class="content-subhead">Dynamic Web Development at ITP &mdash; Spring 2014</h2>
                <p>
                    Details would go here and stuff.
                </p>

                <h2 class="content-subhead">Class rules</h2>
                <p>
                    Class rules would go here as well.
                </p>

            </div>
        </div>
    </div>
    
    <script src="/combo/1.11.2?/js/ui.js"></script>

</body>
</html>

